*,
*,
::before,
::after {
  box-sizing: border-box;
}

:root {
  --container-color: rgb(110, 110, 110);
  --arrow-color: rgb(80, 80, 80);
}

.pointer {
  cursor: pointer;
}

.outliner {
  outline: 4px solid var(--arrow-color);
  border-radius: 0.5rem;
  background-color: var(--container-color);
}

body {
  height: 100vh;
}
